  .dashboard {
    background-image: linear-gradient(to bottom right, #DFFFDE, #83BA82);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #353535;
  }

  .dashboard_listings_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
  }

  .dashboard_listings {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: calc(6px + 1vmin);
  }

  .dashboard_listings_header {
    width: 80%;
    height: 10%;
    top: 3rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #353535;
    align-items: center;
  }

  .dashboard_button {
    padding: 0.5rem 1rem;
    background-color: #629861;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    height: 20%;
    
  }

  .button_icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    vertical-align: sub;
}